#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define AS(keycode) &as LS(keycode) keycode

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform =  &five_column_transform;
  };
};

&mt {
    tapping-term-ms = <175>;
};

/ {
        behaviors {
            as: auto_shift {
                label = "AUTO_SHIFT";
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping_term_ms = <175>;
                quick_tap_ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
        };

        macros {
            RUN: run {
                label = "pycharm-run";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LS(F10)>;
            };
            DEBUG: debug {
                label = "pycharm-debug";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LS(F9)>;
            };
            STOP: debug-stop {
                label = "pycharm-debug-stop";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LC(F2)>;
            };
            SOVER: debug-step-over {
                label = "pycharm-debug-step";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp F8>;
            };
            SOUT: debug-step-out {
                label = "pycharm-debug-step-out";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LS(F8)>;
            };
            SINTO: debug-step-into {
                label = "pycharm-debug-step-into";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LA(LS(F7))>;
            };
            RESUME: debug-resume {
                label = "pycharm-debug-resume";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp F9>;
            };
            TOCURSOR: debug-run-to-cursor {
                label = "pycharm-debug-run-to-cursor";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LA(F9)>;
            };
            COMMIT: git-commit {
                label = "git-commit";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LC(K)>;
            };
            PUSH: git-push {
                label = "git-push";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LC(LS(K))>;
            };
            UPDATE: git-update {
                label = "git-update";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp LC(T)>;
            };
        };


        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "BASE";
//  -----------------------------------------------------------------------------------------------------------
// | SOUT  |  Q  |  W  |  E  |    R   |    T   |     |   Y    |    U   |   I    |  O  |  P  | RUN / RESUME     |
// | SOVER |  A  |  S  |  D  |    F   |    G   |     |   H    |    J   |   K    |  L  |  ;: | DEBUG / TOCURSOR |
// | SINTO |  Z  |  X  |  C  |    V   |    B   |     |   N    |    M   |   ,'   |  ." |  /? | STOP             |
//                     | BCK | DEL[2] | ESC[S] |     | ENT[C] | SPC[1] | TAB[A] |
                        bindings = <
   &SOUT    AS(Q)    AS(W)      AS(E)      AS(R)     AS(T)    AS(Y)   AS(U)    AS(I)           AS(O)         AS(P)        &RUN
   &SOVER   AS(A)    AS(S)      AS(D)      AS(F)     AS(G)    AS(H)   AS(J)    AS(K)           AS(L)         AS(SEMI)     &DEBUG
   &SINTO   AS(Z)    AS(X)      AS(C)      AS(V)     AS(B)    AS(N)   AS(M)    &mt APOS COMMA  &mt DQT DOT   AS(FSLH)     &STOP
                     &kp BSPC   &lt 2 DEL  &mt LSHIFT ESC                      &mt RCTRL RET   &lt 1 SPACE   &mt RALT TAB
                        >;
                };
                number_layer {
                        label = "NUMBER";
//  ------------------------------------------------------------------------
// | PUSH   | *\ | 7& | 8* | 9| | <> |    | PRT | F7 | F8 | F9 | F12 | SHFT |
// | COMMIT | -+ | 4$ | 5% | 6^ | [] |    | SLK | F4 | F5 | F6 | F11 | ALT  |
// | UPDATE | ~` | 1! | 2@ | 3# | {} |    | PAU | F1 | F2 | F3 | F10 | CTRL |
//                    | _  | 0= | () |    | WIN |    |    |
                        bindings = <
   &PUSH    &mt BSLH KP_MULTIPLY  &mt AMPS N7   &mt KP_MULTIPLY N8   &mt PIPE N9   &mt GT LT      &kp PRINTSCREEN  &kp F7  &kp F8  &kp F9  &kp F12  &kp RSHFT
   &COMMIT  &mt PLUS MINUS        &mt DLLR N4   &mt PRCNT N5         &mt CARET N6  &mt RBKT LBKT  &kp SCROLLLOCK   &kp F4  &kp F5  &kp F6  &kp F11  &kp RALT
   &UPDATE  &mt GRAVE TILDE       &mt EXCL N1   &mt AT N2            &mt HASH N3   &mt RBRC LBRC  &kp PAUSE_BREAK  &kp F1  &kp F2  &kp F3  &kp F10  &kp RCTRL
               &kp UNDER             &mt EQUAL N0  &mt RPAR LPAR                                     &kp RWIN         &trans  &trans
                        >;
                };
                nav_layer {
                        label = "NAV";
//  -------------------------------------------------------------------------------
// |  |     |     |     |     |      |    | Redo   | Paste | Copy | Cut  | Undo |  |
// |  |     | ALT |CTRL |SHFT | Caps |    | CPNEXT |   ←   |  ↑   |  ↓   |  →   |  |
// |  |     |     |     |     | Ins  |    | CPPREV |  HOME | PgUp | PgDn | End  |  |
//                |     |     |      |    | ENT    |  SPC  |  TAB |
                        bindings = <
   &trans   &trans   &trans    &trans     &trans     &trans   &kp LS(LC(Z))  &kp LC(V)     &kp LC(C)     &kp LC(X)    &kp LC(Z)    &trans
   &trans   &trans   &kp LALT  &kp LCTRL  &kp LSHFT  &trans   &kp RA(RBKT)   &kp LEFT      &kp UP        &kp DOWN     &kp RIGHT    &trans
   &trans   &trans   &trans    &trans     &trans     &trans   &kp RA(LBKT)   &kp HOME      &kp PG_UP     &kp PG_DN    &kp END      &trans
                     &trans    &trans     &trans                             &kp RET       &kp SPACE     &kp TAB
                        >;
                };
        };
};